* {
    margin: 0;
    padding: 0;
}

/* background img */
body {
    min-width: 600px;
    width: auto;
    background-image: url('../image/back_img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

/* header */
header {
    margin: 0.5em auto 0 auto;
    top: 0;
    width: 30em;
    background-color: #eebb5d;
    border-radius: 0.5em;
}

.header_container {
    text-align: center;
}

/* player and faction table */

.players_rating_container {
    display: flexbox;
}

.players_rating_container {
    padding: 0 1em 0 1em;
    border-radius: 3%;
}

.faction_rating_container {
    padding: 0 1em 3em 1em;
    border-radius: 3%;
}

.players_rating_title,
.faction_rating_title {

    width: 10em;
    border-radius: 0.25em;
    margin: 1.5em auto auto auto;
    text-align: center;
    background-color: #eebb5d;
}

.players_rating_table,
.faction_rating_table {
    background-color: #f5c160;
    border: 0.1em solid #000000;
    border-collapse: collapse;
    margin: auto;
    width: 35em;

}

.players_rating_table th,
.faction_rating_table th {
    background-color: #8d3613c2;
}

.players_rating_table th:hover,
.faction_rating_table th:hover {
    cursor: pointer;
}

.players_rating_table th,
.players_rating_table td,
.faction_rating_table th,
.faction_rating_table td {
    padding: 1em;
    text-align: center;
    border-bottom: 0.1em solid #000000;
}

.players_rating_table_tbody tr:hover,
.faction_rating_table_tbody tr:hover {
    background-color: #f7a84dc2;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-content: end;
    background-color: #eebb5d;
    background-size: cover;
}

.creator_title {
    padding: 0.1em 1em 0.1em 0;
    text-align: right;
    font-style: italic;
}