/* background img */
.background_img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/back_img.jpg');
}

/* header */
header {
    top: 0;
    width: 500px;
    background-color: #eebb5d;
    border-radius: 0.5em;
    padding: 0 0 0 0;
    margin: auto;
}

.header_container {
    margin: auto;
    text-align: center;
}

header h1 {
    text-align: center;
}

/* player and faction table */

.players_rating_container {
    display: flexbox;
}

.players_rating_container,
.faction_rating_container {
    padding: 0 0 15px 0;
    margin: auto;
    border-radius: 3%;
}

.faction_rating_container {
    margin: 0 0 90px 0;
}

.players_rating_title,
.faction_rating_title {
    width: 300px;
    border-radius: 0.25em;
    margin: auto;
    text-align: center;
    background-color: #eebb5d;
}

.players_rating_table,
.faction_rating_table {
    background-color: #f5c160;
    border: 1px solid #000000;
    border-collapse: collapse;
    box-shadow: 3px;
    margin: auto;
    width: 600px;

}

.players_rating_table th,
.faction_rating_table th {
    background-color: #8d3613c2;
}

.players_rating_table th:hover,
.faction_rating_table th:hover {
    cursor: pointer;
}

.players_rating_table th,
.players_rating_table td,
.faction_rating_table th,
.faction_rating_table td {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000000;
}

.players_rating_table_tbody tr:hover {
    background-color: #f7a84dc2;
}

.faction_rome {
    background: #9e2123;
    background: linear-gradient(90deg, #9e2123 0%, #ffffff00 100%);
}

.faction_rome:hover {
    background-color: #9e2123;
}

.faction_greece {
    background: #57a13a;
    background: linear-gradient(90deg, #57a13a 0%, #ffffff00 100%);
}

.faction_greece:hover {
    background-color: #57a13a;
}

.faction_carthage {
    background: #393e66;
    background: linear-gradient(90deg, #393e66 0%, #ffffff00 100%);
}

.faction_carthage:hover {
    background-color: #393e66;
}

.faction_egypt {
    background: #db8d18;
    background: linear-gradient(90deg, #db8d18 0%, #ffffff00 100%);
}

.faction_egypt:hover {
    background-color: #db8d18;
}

.faction_babylon {
    background: #852975;
    background: linear-gradient(90deg, #852975 0%, #ffffff00 100%);
}

.faction_babylon:hover {
    background-color: #852975;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-content: end;
    background-color: #eebb5d;
}

.creator_title {
    padding: 0 25px 0 0;
    text-align: right;
    font-style: italic;

}