.players_rating_table {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 1px;
}

.players_rating_table th {
    background-color: rgb(190, 107, 74);
}

.players_rating_table th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

.players_rating_table tr:hover {
    background-color: coral;
}